<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="stylesheet" href="/static/homepage.css">
</head>

<body>

    {{if .Error }}
        {{ .Error }}
    {{else}}
        {{range .ArtistsArray}}
        <a href="artist?id={{.Id}}">
            <div class="artist-card">
                <div class="artist-image">
                    <img src="{{.Image}}" alt="artist?id={{.Id}}">
                </div>
                <div class="artist-name">Group/Artist name: {{.Name}}</div>
                <div class="artist-name">Members: 
                    {{range .Members}}
                        {{.}}
                    {{end}}
                </div>
                <div class="artist-name">First Album: {{.FirstAlbum}}</div>
                <div class="artist-name">Was/Were created at {{.CreationDate}}</div>
            </div>
        </a>
        {{end}}
    {{end}}
    <!-- Repeat for additional cards -->

</body>

</html>