<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="../static/homepage.css">
    <link rel="stylesheet" href="/static/homepage.css">
</head>

<body>

    {{if .Error }}
        {{ .Error }}
    {{else}}
        {{range .ArtistsArray}}
        <a href="artist?id={{.Id}}">
            <div class="artist-card">
                <div class="artist-image">
                    <img src="{{.Image}}" alt="artist?id={{.Id}}">
                </div>
                <div class="artist-name">{{.Name}}</div>
                <div class="artist-name">{{.Members}}</div>
                <div class="artist-name">{{.FirstAlbum}}</div>
            </div>
        </a>
        {{end}}
    {{end}}
    <!-- Repeat for additional cards -->

</body>

</html>